*,
*:after,
*:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #333;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  margin: 0px;
  min-height: 100vh; }
