label {
  display: block;
  margin: 1rem;
}

fieldset {
  border: none;
}

input,
select,
textarea {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  border: 1px solid $text-color;
  outline: none;
  font-size: 2rem;

  color: $text-color;

  &:focus {
    border: 1px solid $color3;
  }
}

select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
